#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(205, 155, 224);
}

/* klasse */
.testbilde {
  padding-bottom: 3rem;
}
/* id */
#testerbilde {
  color: black;
  padding-bottom: 3rem;
}
/* id overskriver klasse */
